@font-face {
    font-family: "GioPhim";
    src: url("fonts/GioPhim.woff2") format("woff2"),
        url("fonts/GioPhim.ttf") format("truetype"),
        url("fonts/GioPhim.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.icon {
    /* Use !important to prevent extensions from overriding this font. */
    font-family: "GioPhim" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}